# WK01

## Getting started with Python syntax

### Notebooks

Are nice.

And they are very useful when we want to experiment with code because we can select which pieces of code we want to run, and in which order.

Notebooks are also great for documenting experiments because we can add [Markdown](https://www.markdownguide.org/) code in special `markdonwn` cells to style the descriptions of our experiments.

In [1]:
# We can write code in code cells and select which cells/code we want to execute and when

# Executing this cell creates a variable x with the value "hello"
# And then we print the content of the variable x

x = "hello"
print(x)

hello

In [2]:
# Cells also display the result of the very last line of code

x = "goodbye"
x

'goodbye'

In [3]:
# In the cell above, the very last expression evaluates to "goodbye", so the cell prints that or us.

# Like any programming language,
# if we don't use any control logic,
# our interpreter is just a very complex algebra/boolean calculator

x = 214
y = 1682

z = x * y

t = 0.2
d = 12 * x + y * t**2

dd_dt = 2*y*t

print("z:", z)
print("d:", d)
print("dd/dt:", dd_dt)

z: 359948
d: 2635.28
dd/dt: 672.8000000000001

In [4]:
# We can also use smart/formatted/templated strings to mix constant text with variable

print(f"The value of d is {d}, while the value of dd_dt is {dd_dt}")

# Using :.<n>f we can adjust the number of decimal places we print
print(f"The value of d is {d}, while the value of dd_dt is {dd_dt:.3f}")

The value of d is 2635.28, while the value of dd_dt is 672.8000000000001
The value of d is 2635.28, while the value of dd_dt is 672.800

In [5]:
# We can also use Python to evaluate Boolean expressions

current_hour = 14
current_minute = 22

current_week_day = "wednesday"

PSAM_5020_started = current_week_day == "wednesday" and current_hour > 12 or (current_hour == 12 and current_minute > 10)

print(f"ML class already started today: {PSAM_5020_started}")

ML class already started today: True

In [6]:
# TODO: add logic to make the above statement print true only if PSAM 5020 is currently happening
# HINT: PSAM 5020 is running if it has started and not ended

PSAM_5020_ended = current_week_day == "wednesday" and current_hour > 15 or (current_hour == 15 and current_minute > 0)

print(f"ML class is currently running: {PSAM_5020_started and (not PSAM_5020_ended)}")

ML class is currently running: True

### if / else

JavaScript / C++:

```js
const n = 8;

if (n > 10) {
  print("n is greater than 10");
} else if (n > 5) {
  print("n is between 5 and 10");
} else {
  print("n is 5 or less");
}
```

Python:

In [7]:
n = 8

if n > 10:
  print("n is greater than 10")
elif n > 5:
  print("n is between 5 and 10")
else:
  print("n is 5 or less")

n is between 5 and 10

### iterate with counter

JavaScript / C++:

```js
for (let c = 0; c < 10; c++) {
  print(c);
}

for (let c = 10; c < 50; c+=5) {
  print(c);
}
```

Python:

In [8]:
for c in range(10):
  print(c)

0
1
2
3
4
5
6
7
8
9

In [9]:
for c in range(10, 50, 5):
  print(c)

10
15
20
25
30
35
40
45

### Print all numbers between $100$ and $200$ that end in $3$

In [10]:
# TODO: Print numbers between 100 and 200 that end in 3
for f in range(100, 200):
  if f % 10 == 3:
    print(f)

103
113
123
133
143
153
163
173
183
193

### iterate over array/list

JavaScript / C++:

```js
const array = [ 0, 1, 3, 6, 2, 7, 13, 20, 12, 21, 11, 22 ];

for (const i of array) {
  print(i);
}
```

Python:

In [11]:
array = [ 0, 1, 3, 6, 2, 7, 13, 20, 12, 21, 11, 22 ]

for i in array:
  print(i)

0
1
3
6
2
7
13
20
12
21
11
22

### iterate over object

JavaScript / C++:

```js
const obj = {
  name: "thiago",
  id: "tgh"
};

for (const [key, val] of Object.entries(obj)) {
  print(key, ":", val);
}
```

Python:

In [12]:
obj = {
  "name": "thiago",
  "id": "tgh"
}

for key, val in obj.items():
  print(key, ":", val)

name : thiago
id : tgh

### iterate over list of objects

JavaScript / C++:

```js
const objs = [{
  name: "thiago",
  id: "tgh"
},
{
  name: "lex",
  id: "lxg"
}];

for (const obj of objs) {
  for (const [key, val] of Object.entries(obj)) {
    print(key, ":", val);
  }
}
```

Python:

In [13]:
objs = [{
  "name": "thiago",
  "id": "tgh"
},
{
  "name": "lex",
  "id": "lxg"
}]

for obj in objs:
  for key, val in obj.items():
    print(key, ":", val)

name : thiago
id : tgh
name : lex
id : lxg

Or:

In [14]:
for k, v in [(key, val) for obj in objs for key, val in obj.items()]:
  print(k, ":", v)

name : thiago
id : tgh
name : lex
id : lxg

## 🤔 😫

That last expression is very confusing. We'll break it down and explain it soon.

### List Comprehension: create a list from another list

JavaScript / C++:

```js
const array = [ 1, 1, 2, 5, 14, 42, 132, 429, 1430, 4862 ];
const squared = [];

for (const i of array) {
  squared.push(i * i);
}

for (const i of squared) {
  print(i);
}
```

Python:

In [15]:
array = [ 1, 1, 2, 5, 14, 42, 132, 429, 1430, 4862 ]

# TODO: build the array of squared values
squared = [i*i for i in array]

# then print them
for i in squared:
  print(i)

1
1
4
25
196
1764
17424
184041
2044900
23639044

### List Comprehension: create a list from another list

JavaScript / C++:

```js
const array = [ 1, 1, 2, 5, 14, 42, 132, 429, 1430, 4862 ];
const squared = array.map(i => i * i);

for (const i of squared) {
  print(i);
}
```

Python:

In [16]:
array = [ 1, 1, 2, 5, 14, 42, 132, 429, 1430, 4862 ]
squared = [ i * i for i in array ]

for i in squared:
  print(i)

1
1
4
25
196
1764
17424
184041
2044900
23639044

### List Comprehensions

<img src="./imgs/list-comp-00.jpg" height="150px"/>

### List Comprehension: create a list from PARTS of another list

JavaScript / C++:

```js
const array = [ 1, 1, 2, 5, 14, 42, 132, 429, 1430, 4862 ];
const odds = [];

for (const i of array) {
  if (i % 2 == 1) {
    odds.push(i);
  }
}

for (const i of odds) {
  print(i);
}
```

Python with for loop:

In [17]:
array = [ 1, 1, 2, 5, 14, 42, 132, 429, 1430, 4862 ]
odds = []

for i in array:
  if i % 2 == 1:
    odds.append(i)

for i in odds:
  print(i)

1
1
5
429

Python with comprehension:

In [18]:
array = [ 1, 1, 2, 5, 14, 42, 132, 429, 1430, 4862 ]
odds = [ i for i in array if i % 2 == 1 ]

for i in odds:
  print(i)

1
1
5
429

### List Comprehensions + predicate = Filtering

<img src="./imgs/list-comp-01.jpg" height="150px"/>

### Filtering: create a list from parts of another list

JavaScript / C++:

```js
const array = [ 1, 1, 2, 5, 14, 42, 132, 429, 1430, 4862 ];
const odds = array.filter(i => i % 2 == 1);

for (const i of odds) {
  print(i);
}
```

Use comprehension to create a list of values between 100 and 500 that are divisible by 3 and 7

Remember that in Python the keywords for the Boolean operators are : `and`, `or`, `not`

In [28]:
# TODO: Create a list of values between 100 and 500 that are divisible by 3 and 7
div_3_7_list = [i for i in range(100, 500) if i % 3 == 0 and i % 7 == 0]

# then print them
print(div_3_7_list)

[105, 126, 147, 168, 189, 210, 231, 252, 273, 294, 315, 336, 357, 378, 399, 420, 441, 462, 483]

### More complex comprehensions:

In [29]:
objs = [
  {
    "name": "thiago",
    "id": "tgh",
    "grade": "A"
  },
  {
    "name": "lex",
    "id": "lxg",
    "grade": "A+"
  },
  {
    "name": "flex",
    "id": "flx",
    "grade": "B"
  }
]

for obj in objs:
  for key, val in obj.items():
    print(key, ":", val)

name : thiago
id : tgh
grade : A
name : lex
id : lxg
grade : A+
name : flex
id : flx
grade : B

### Flattening: produces single list

```python
# 0.
for obj in objs:
  for key, val in obj.items():
```

```python
# 1.
for obj in objs for key, val in obj.items()
```

```python
# 2.
[(key, val) for obj in objs for key, val in obj.items()]
```

In [31]:
[(key, val) for obj in objs for key, val in obj.items()]

[('name', 'thiago'),
 ('id', 'tgh'),
 ('grade', 'A'),
 ('name', 'lex'),
 ('id', 'lxg'),
 ('grade', 'A+'),
 ('name', 'flex'),
 ('id', 'flx'),
 ('grade', 'B')]

### Non-Flattening: maintains original structure

```python
# 0.
for obj in objs:
  for key, val in obj.items():
```

```python
# 1.
for key, val in obj.items() for obj in objs
```

```python
# 2.
[[for key,val in obj.items()] for obj in objs]
```

```python
# 3.
[[(key, val) for key,val in obj.items()] for obj in objs]
```

In [22]:
[[(key, val) for key,val in obj.items()] for obj in objs]

[[('name', 'thiago'), ('id', 'tgh'), ('grade', 'A')],
 [('name', 'lex'), ('id', 'lxg'), ('grade', 'A+')],
 [('name', 'flex'), ('id', 'flx'), ('grade', 'B')]]

### Combining lists and objects

In Python we can combine multiple lists or objects by using the `+` or `|` operators.

In [23]:
x = [1,2,3,4]
y = [5,6,7,8]

z = x + y
print(z)

[1, 2, 3, 4, 5, 6, 7, 8]

In [24]:
name = {"name": "thiago"}
grade = {"grade": "A"}
zipcode = {"zip": 11211}

z = name | grade | zipcode
print(z)

{'name': 'thiago', 'grade': 'A', 'zip': 11211}